body{
    margin: 0px;
    font-family: monospace;
}

.header{
width: 100%;
background-color: black;
border-bottom: 10px rgb(45, 85, 126);
}


h1 {
    margin: 0%;
    color: rgb(21, 95, 77);
}


.header  .container{
    width: 70%;
    display:flex;
}
.header .container .navbar{
    width: 800px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    color: rgb(48, 128, 128);
    display: flex;
}